In [96]:
import pandas as pd
import timeit
import numpy as np
from datetime import datetime
import scipy.stats
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [97]:
file_path = "household_power_consumption.txt"

#df = pd.read_csv( file_path, sep=";", decimal=",")
df = pd.read_csv( file_path, sep=";", decimal=",",parse_dates={"Datetime": ["Date", "Time"]})
df = df.dropna()
#df["Date"] = pd.to_datetime(df["Date"], format="%d/%m/%Y")
#df["Time"] = pd.to_datetime(df["Time"], format="%H:%M:%S").dt.strftime("%H:%M")
#for col in df.columns.drop(["Date", "Time"]):
 #   df[col] = df[col].str.replace(",", ".").astype(float)
for col in df.columns.drop("Datetime"):
    df[col] = df[col].str.replace(",", ".").astype(float)
display(df)
df.info()

C:\Users\Mykola\AppData\Local\Temp\ipykernel_4868\1173111423.py:4: FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.
  df = pd.read_csv( file_path, sep=";", decimal=",",parse_dates={"Datetime": ["Date", "Time"]})
C:\Users\Mykola\AppData\Local\Temp\ipykernel_4868\1173111423.py:4: UserWarning: Parsing dates in %d/%m/%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df = pd.read_csv( file_path, sep=";", decimal=",",parse_dates={"Datetime": ["Date", "Time"]})

,Datetime,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,2006-12-16 17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,2006-12-16 17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,2006-12-16 17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,2006-12-16 17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,2006-12-16 17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...
2075254,2010-11-26 20:58:00,0.946,0.000,240.43,4.0,0.0,0.0,0.0
2075255,2010-11-26 20:59:00,0.944,0.000,240.00,4.0,0.0,0.0,0.0
2075256,2010-11-26 21:00:00,0.938,0.000,239.82,3.8,0.0,0.0,0.0
2075257,2010-11-26 21:01:00,0.934,0.000,239.70,3.8,0.0,0.0,0.0
2075258,2010-11-26 21:02:00,0.932,0.000,239.55,3.8,0.0,0.0,0.0

<class 'pandas.core.frame.DataFrame'>
Index: 2049280 entries, 0 to 2075258
Data columns (total 8 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Datetime               datetime64[ns]
 1   Global_active_power    float64
 2   Global_reactive_power  float64
 3   Voltage                float64
 4   Global_intensity       float64
 5   Sub_metering_1         float64
 6   Sub_metering_2         float64
 7   Sub_metering_3         float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 140.7 MB

Обрати всі записи, у яких загальна активна споживана потужність перевищує 5 кВт.

In [98]:
def select_active_power_bigger_than5(df):
    return df[df["Global_active_power"] > 5]

display(select_active_power_bigger_than5(df))

,Datetime,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
1,2006-12-16 17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,2006-12-16 17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,2006-12-16 17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
11,2006-12-16 17:35:00,5.412,0.470,232.78,23.2,0.0,1.0,17.0
12,2006-12-16 17:36:00,5.224,0.478,232.99,22.4,0.0,1.0,16.0
...,...,...,...,...,...,...,...,...
2069356,2010-11-22 18:40:00,5.408,0.150,231.50,23.6,48.0,0.0,0.0
2069357,2010-11-22 18:41:00,5.528,0.144,232.48,24.6,53.0,0.0,0.0
2071586,2010-11-24 07:50:00,5.172,0.050,235.18,22.0,0.0,38.0,17.0
2071587,2010-11-24 07:51:00,5.750,0.000,234.40,24.6,0.0,39.0,17.0
2072997,2010-11-25 07:21:00,5.074,0.240,238.55,21.4,1.0,2.0,18.0

Additional Variable Information

1.date: Date in format dd/mm/yyyy
2.time: time in format hh:mm:ss
3.global_active_power: household global minute-averaged active power (in kilowatt)
4.global_reactive_power: household global minute-averaged reactive power (in kilowatt)
5.voltage: minute-averaged voltage (in volt)
6.global_intensity: household global minute-averaged current intensity (in ampere)
7.sub_metering_1: energy sub-metering No. 1 (in watt-hour of active energy). It corresponds to the kitchen, containing mainly a dishwasher, an oven and a microwave (hot plates are not electric but gas powered).
8.sub_metering_2: energy sub-metering No. 2 (in watt-hour of active energy). It corresponds to the laundry room, containing a washing-machine, a tumble-drier, a refrigerator and a light.
9.sub_metering_3: energy sub-metering No. 3 (in watt-hour of active energy). It corresponds to an electric water-heater and an air-conditioner.

Обрати всі записи, у яких сила струму лежить в межах 19-20 А, для них виявити ті, у яких пральна машина та холодильних споживають більше, ніж бойлер та кондиціонер.

In [99]:
def select_current_in_range19_20(df):
    subset = df[(df["Global_intensity"] >= 19) & (df["Global_intensity"] <= 20)]
    return subset[ (subset["Sub_metering_1"] + subset["Sub_metering_2"]) > (subset["Sub_metering_3"])]


select_current_in_range19_20(df)

,Datetime,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
45,2006-12-16 18:09:00,4.464,0.136,234.66,19.0,0.0,37.0,16.0
460,2006-12-17 01:04:00,4.582,0.258,238.08,19.6,0.0,13.0,0.0
464,2006-12-17 01:08:00,4.618,0.104,239.61,19.6,0.0,27.0,0.0
475,2006-12-17 01:19:00,4.636,0.140,237.37,19.4,0.0,36.0,0.0
476,2006-12-17 01:20:00,4.634,0.152,237.17,19.4,0.0,35.0,0.0
...,...,...,...,...,...,...,...,...
2071589,2010-11-24 07:53:00,4.666,0.000,235.72,19.8,0.0,39.0,17.0
2071590,2010-11-24 07:54:00,4.694,0.000,236.78,19.8,0.0,39.0,18.0
2071591,2010-11-24 07:55:00,4.602,0.000,237.08,19.4,0.0,40.0,17.0
2071592,2010-11-24 07:56:00,4.536,0.000,237.03,19.0,0.0,39.0,17.0
2071593,2010-11-24 07:57:00,4.626,0.000,236.78,19.4,0.0,39.0,17.0

Обрати випадковим чином 500000 записів (без повторів елементів вибірки), для них обчислити середні величини усіх 3-х груп споживання електричної енергії

In [100]:
def random_sample_means(df):
    sample = df.sample(n=500_000, replace=False, random_state=4)
    #display(sample)
    return sample[["Sub_metering_1", "Sub_metering_2", "Sub_metering_3"]].mean()

random_sample_means(df)

Sub_metering_1    1.117674
Sub_metering_2    1.310004
Sub_metering_3    6.475806
dtype: float64

Обрати ті записи, які після 18-00 споживають понад 6 кВт за хвилину в середньому, серед відібраних визначити ті, у яких основне споживання електроенергії у вказаний проміжок часу припадає на пральну машину, сушарку, холодильник та освітлення (група 2 є найбільшою), а потім обрати кожен третій результат із першої половини та кожен четвертий результат із другої половини.

In [101]:
def last_vybirka(df):
    subset = df[(df["Datetime"].dt.hour >= 18) & (df["Global_active_power"]>6)]
    subset = subset[subset["Sub_metering_2"] > subset[["Sub_metering_1","Sub_metering_3"]].max(axis=1)]

    number = len(subset) // 2
    half1 = subset.iloc[:number:3]
    half2 = subset.iloc[number::4]
    return pd.concat([half1, half2])

last_vybirka(df)

,Datetime,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
41,2006-12-16 18:05:00,6.052,0.192,232.93,26.2,0.0,37.0,17.0
44,2006-12-16 18:08:00,6.308,0.116,232.25,27.0,0.0,36.0,17.0
17494,2006-12-28 20:58:00,6.386,0.374,236.63,27.0,1.0,36.0,17.0
17498,2006-12-28 21:02:00,8.088,0.262,235.50,34.4,1.0,72.0,17.0
17501,2006-12-28 21:05:00,7.230,0.152,235.22,30.6,1.0,73.0,17.0
...,...,...,...,...,...,...,...,...
2066466,2010-11-20 18:30:00,6.620,0.314,229.00,29.2,18.0,34.0,16.0
2066470,2010-11-20 18:34:00,6.266,0.360,229.82,27.6,14.0,35.0,16.0
2066474,2010-11-20 18:38:00,6.302,0.376,229.65,27.8,15.0,34.0,17.0
2066478,2010-11-20 18:42:00,6.238,0.344,229.37,27.6,14.0,35.0,16.0
2066482,2010-11-20 18:46:00,6.438,0.308,229.26,28.4,13.0,39.0,16.0

In [110]:
scaler_minmax = MinMaxScaler()
scaler_std = StandardScaler()

#scaled_minmax = scaler_minmax.fit_transform(df.select_dtypes(float))
scaled_std = scaler_std.fit_transform(df.select_dtypes(float))

df["Global_active_power"] = scaler_minmax.fit_transform(df[["Global_active_power"]])

display(df)
#display(scaled_std)

,Datetime,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,2006-12-16 17:24:00,0.374796,0.418,234.84,18.4,0.0,1.0,17.0
1,2006-12-16 17:25:00,0.478363,0.436,233.63,23.0,0.0,1.0,16.0
2,2006-12-16 17:26:00,0.479631,0.498,233.29,23.0,0.0,2.0,17.0
3,2006-12-16 17:27:00,0.480898,0.502,233.74,23.0,0.0,1.0,17.0
4,2006-12-16 17:28:00,0.325005,0.528,235.68,15.8,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...
2075254,2010-11-26 20:58:00,0.078762,0.000,240.43,4.0,0.0,0.0,0.0
2075255,2010-11-26 20:59:00,0.078580,0.000,240.00,4.0,0.0,0.0,0.0
2075256,2010-11-26 21:00:00,0.078037,0.000,239.82,3.8,0.0,0.0,0.0
2075257,2010-11-26 21:01:00,0.077675,0.000,239.70,3.8,0.0,0.0,0.0
2075258,2010-11-26 21:02:00,0.077494,0.000,239.55,3.8,0.0,0.0,0.0

In [104]:
def correlation(df, col1, col2):
    pearson = df[col1].corr(df[col2], method="pearson").item()
    spearman = df[col1].corr(df[col2], method="spearman").item()
    return pearson, spearman

correlation(df, "Sub_metering_1", "Sub_metering_2")

(0.05472086432347682, 0.056410266134320756)

In [105]:
pd.get_dummies(df, columns=["Sub_metering_1"])

,Datetime,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_2,Sub_metering_3,Sub_metering_1_0.0,Sub_metering_1_1.0,Sub_metering_1_2.0,...,Sub_metering_1_78.0,Sub_metering_1_79.0,Sub_metering_1_80.0,Sub_metering_1_81.0,Sub_metering_1_82.0,Sub_metering_1_83.0,Sub_metering_1_84.0,Sub_metering_1_86.0,Sub_metering_1_87.0,Sub_metering_1_88.0
0,2006-12-16 17:24:00,4.216,0.418,234.84,18.4,1.0,17.0,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2006-12-16 17:25:00,5.360,0.436,233.63,23.0,1.0,16.0,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,2006-12-16 17:26:00,5.374,0.498,233.29,23.0,2.0,17.0,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,2006-12-16 17:27:00,5.388,0.502,233.74,23.0,1.0,17.0,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4,2006-12-16 17:28:00,3.666,0.528,235.68,15.8,1.0,17.0,True,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2075254,2010-11-26 20:58:00,0.946,0.000,240.43,4.0,0.0,0.0,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2075255,2010-11-26 20:59:00,0.944,0.000,240.00,4.0,0.0,0.0,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2075256,2010-11-26 21:00:00,0.938,0.000,239.82,3.8,0.0,0.0,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2075257,2010-11-26 21:01:00,0.934,0.000,239.70,3.8,0.0,0.0,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2075258,2010-11-26 21:02:00,0.932,0.000,239.55,3.8,0.0,0.0,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [115]:
print(timeit.timeit(lambda: select_active_power_bigger_than5(df), number=200))

0.3455822999821976